hostname {{inventory_hostname}}
{% for int in interfaces %}
interface {{int.name}}
no shutdown
description {{int.description}}
{% set type = int.type %}
{% if type == 'l3' %}
ip address {{int.ip}} {{int.netmask}}
{%endif%}
{% endfor %}


