hostname {{inventory_hostname}}
{% for int in interfaces %}
interface {{int.name}}
no shutdown
description {{int.description}}
{% if {{int.type}} == 'l3' %}
ip address {{int.ip}} {{int.netmask}}
{% else %}
switchport mode trunk
switchport trunk encapsulation dot1q
{%endif%}
{% endfor %}
