{% for int in interfaces %}
int {{int.name}}
ip address {{int.ip}} {{int.netmask}}
no shut
description {{int.description | default("local_interface")}}
!
{% endfor %}


router bgp {{bgp.asn}}
{% for peer in bgp['peer'] %}
neighbor {{peer.remote_ip}} remote-as {{peer.remote_as}}
neighbor {{peer.remote_ip}} soft-reconfiguration inbound
redistribute connected metric 10
{% endfor %}


ip dhcp pool {{inventory_hostname}}_lan
network {{ interfaces | selectattr('name','match','f1/0') | map(attribute='ip') | first | ipaddr('net') }} {{ interfaces | selectattr('name','match','f1/0') | map(attribute='netmask') | first  }}
default-router {{ interfaces | selectattr('name','match','f1/0') | map(attribute='ip') | first }}
dns-server {{dhcp['dns']}}
