{% for vlan in vlans %}
vlan {{vlan.id}}
name {{vlan.name}}
{% endfor %}

{% for cust in cust_sw %}
{% for intf in cust['int'] %}
int {{intf.name}}
switchport mode access
switchport access vlan {{intf.vlan}}
no shut
!
{% endfor %}
{% endfor %}